.vscode
.idea
.DS_Store
hooks
*package-lock.json
*.js
*.js.map
*.log
*.tgz
src/*.d.ts
!src/index.d.ts
!src/references.d.ts
!src/scripts/*.js
demo/*.d.ts
demo/lib
demo/platforms
node_modules
publish/src
publish/package
demo/report/report.html
demo/report/stats.json

!demo/karma.conf.js
!demo/app/tests/*.js
!demo/references.d.ts
!demo/webpack.config.js